			body {
				background: #7f7f7f;
			}
			.nply {
				height:19px;
				width:19px;
				background: url("/img/nply.svg");
				border: none;
				background-size: cover;
				cursor: not-allowed;
			}
			.sc {
				cursor: pointer;
			}
			.ply {
				height:19px;
				width:19px;
				background: url("/img/ply.svg");
				border: none;
				
				background-size: cover;
			}
			.ply:hover {
				background: url("/img/ply_sel.svg");
				background-size: cover;
				cursor: pointer;
			}
			table {
				width: 65%;
				padding:0;
				margin: 0;
				border: none;
				
			}
			.t {
				background: #999999;
				padding: 0 0 0 3;
				margin: 0;
				border: none;
				border-radius: 1313px 0 0 1313px;
			}
			.r {
				background: #999999;
				padding: 0 0 0 0;
				margin: 0px;
				border: none;
				border-radius:  0 1313px 1313px 0;
			}
			.m {
				background: #999999;
				padding:0;
				margin: 0;
				border: none;
				width: 3.3ch;
			}
			td {
				padding:0;
				margin: 0;
				border: none;
			}
			.s {
				height:19px;
				width:19px;
				border: none;
				background-color: #999999;
				background-size: cover;
				text-align: center;
			}
			.s-avl {
				background-image: url("/img/stems_avl.svg");
			}
			.no-s-avl {
				background-image: url("/img/stems_navl.svg");
			}
			.v0 {
				background-image: url("/img/vers_0.svg");
			}
			.v1 {
				background-image: url("/img/vers_1.svg");
			}
			.v2 {
				background-image: url("/img/vers_2.svg");
			}
			.v3 {
				background-image: url("/img/vers_3.svg");
			}
			.v4 {
				background-image: url("/img/vers_4.svg");
			}
			.v5 {
				background-image: url("/img/vers_5.svg");
			}
			.v6 {
				background-image: url("/img/vers_6.svg");
			}
			.v7 {
				background-image: url("/img/vers_7.svg");
			}
			.lsr-img {
				height: 50vh;
				width: 50vh;
				padding: 0px;
			}
			.lsr-canvas {
			}
			.n {
				height:19px;
				border: none;
				background: #999999;
			}
			.ply2 {
				background-image: url("/img/2ply.svg");
			}
			.ply2:hover {
				background-image: url("/img/2ply_sel.svg");
				cursor: pointer;
			}
			.ply2 > a {
				display:block;
				width: 100%;
				height: 100%;
			}